<section class=" text-center py-5 " style="background-color: #D8D2C2; height: 80vh;">
    <div class="py-5 mt-5">


        <h1 class="fw-bolder mt-5">About Wooden</h1>
        <div class="star my-3" >
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-6">
                    <p>For a long time and even today, many buildings, mostly houses, have been made of wood. To build a
                        house with wood, lumber is put together into frames that are the shape of each wall, floor, and
                        roof of the house. Then the frames are placed into the shape of a house. Then the frames can be
                        covered to make solid walls. Sometimes the walls are made of more wood..</p>
                </div>
                <div class="col-lg-6">
                    <p>Wood is the main substance in trees. It is mainly formed by the xylem vessels which carry water
                        up the plant. The two main substances in wood are cellulose and lignin. Wood is used to make
                        buildings and furniture, and also for art. Firewood is a fuel. Paper is made from wood fibres.
                        Wood is a renewable resource although it has become scarcer in recent centuries. Its origin is
                        about 425 million years ago.</p>
                </div>

            </div>

        </div>
    </div>
</section>