<section class=" text-center " style="color: #0a8e73;">
    <div class="py-5 mt-5">


        <h1 class="fw-bolder ">Conatct Component</h1>
        <div class="star my-3" >
          <i class="fa-solid fa-star"></i>
      </div>

        <div class="w-50 m-auto my-5">

            <div class="form-floating mb-3">
                <input type="text" class="form-control   " id="" placeholder="">
                <label for="">User Name</label>
              </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" placeholder="">
                <label for="floatingInput">User Age</label>
              </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="">
                <label for="floatingInput">User Email</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">User Password</label>
              </div>
              <button type="button" class="btn btn-success my-5">Submit</button>

        </div>
    </div>
</section>