<!-- <p>footer works!</p> -->




<section class="fw-bold" style="background-color: #F2EED7; ">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-4 col-md-6 text-center">
                    <div>
                        <h2>LOCATION</h2>
                        <p>2215 John Daniel Drive</p>
                        <p>Clark, MO 65243</p>
                    </div>
            </div>
         
            <div class="col-lg-4 col-md-6 text-center">
                    <div>
                        <h2>AROUND THE WEB</h2>
                        <div>
                            <a href="#" class="social-icon me-2"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social-icon me-2"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="social-icon me-2"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#" class="social-icon me-2"><i class="fas fa-globe"></i></a>
                          </div>
                    </div>
            </div>
    
            <div class="col-lg-4 col-md-6 text-center">
                    <div >
                        <h2>ABOUT FREELANCER</h2>
                        <p class="m-auto w-75">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                        
                    </div>
            </div>
        </div>
     </div>
</section>
<section class="text-white text-center py-2" style="background-color: #626F47;">
    <p>Copyright © Your Website 2021</p>
</section>